* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  cursor: pointer;
  text-align: center;
}
.certified {
  margin-top: 10%;
  background-color: rgb(205, 210, 212);
  margin-left: 15%;
  margin-right: 15%;
}
.head {
  color: white;
  border: 2px solid blue;
  margin-left: 22%;
  margin-right: 22%;
  background-color: blue;
}
.text {
  margin-top: 2%;
  color: blue;
  border: 2px solid blue;
  margin-bottom: 5%;
}
.listed {
  list-style: none;
  margin: 2%;
  color: blue;
  font-weight: 500;
  font-family: "Times New Roman", Times, serif;
  font-size: medium;
}
